.col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.2)
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col:first-child{
  margin-top: 25px;
}
.margin-top{
  margin-top: 25px;
}
.avatar{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 15px;
}
.avatar>img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.message{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.between{
  justify-content: space-between;
}
.sender{
  font-size: 20px;
}
.text{
  color: #929292;

}
.date{
  display: flex;
  align-items: center;
}
