.products{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item:last-child{
  margin-bottom: 13dvh;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}
.model{
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.price{
  font-weight: 900;
  font-size: 16px;
}
.city{
  font-size: 16px;
  color: #8F8F8F;
}
.item>img{
  width: 100%;
  height: 680px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  cursor: pointer;
}
@media (max-width: 720px) {
  .item>img{
    height: 20dvh;
  }
}
