<div class="container">
  <div class="row">
    <div></div>
    <div class="footer-button" (click)="closeDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor"
           stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x">
        <path d="M18 6 6 18"/>
        <path d="m6 6 12 12"/>
      </svg>
    </div>
  </div>
  <form class="filter-form">
    <div class="form-row">
      <span>Категория</span>
      <select [(ngModel)]="selectedValue" (ngModelChange)="onSelectChange($event)" class="input select" name="category" id="">
        <option value="telephones">Телефоны</option>
        <option value="access">Аксессуары</option>
        <option value="details">Запчасти</option>
      </select>
    </div>
    <div class="form-row">
      <span>Город</span>
      <input class="input" type="text" placeholder="Выбрать город" name="city">
    </div>
    <div class="form-row">
      <span>Цена</span>
      <div class="row inputs">
        <input class="input price" type="text" name="city" placeholder="От">
        <input class="input price" type="text" placeholder="До">
      </div>

    </div>
    <div class="hidden" *ngIf="this.is_not_telephones">
      <div class="form-row">
        <span>Марка</span>
        <select class="input select" name="category">
          <option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option><option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option>
        </select>
      </div>
      <div class="form-row">
        <span>Модель</span>
        <select class="input select" name="category">
          <option value="'telephones'">Телефоны</option>
          <option value="'access'">Аксессуары</option>
          <option value="'details'">Запчасти</option>
        </select>
      </div>
      <div class="form-row">
        <span>Цвет</span>
        <select class="input select" name="category">
          <option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option>
        </select>
      </div>
      <div class="form-row">
        <span>Объём памяти</span>
        <select class="input select" name="category">
          <option value="telephones">Телефоны</option>
          <option value="access">Аксессуары</option>
          <option value="details">Запчасти</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <button class="button" (click)="send()" type="button">Применить</button>
    </div>
  </form>
</div>



