.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.lucide{
  color: #929292;
  width: 42px;
  height: 42px;
}
.footer-button{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  right: -20px;
}
.filter-form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input{
  width: 100%;
  height: 42px;
  background: #F4F4F4;
  padding-left: 15px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.form-row{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.inputs{
  justify-content: space-between;
}
.form-row>span{
  color: #929292;
  font-size: 17px;
}
.price{
  width: 45%;
}
.button{
  width: 100%;
  height: 42px;
  color: #fff;
  background: #007CB2;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}
.select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 20px auto, 100%;
  color: #929292;
  font-size: 17px;
}
option:checked{

  background-color: white;
  color: #929292;
}
option:not(:checked){
  color: #929292;
}

mat-form-field{
  border-radius: 15px;
}
