.lucide{
  color: #929292;
  width: 25px;
  height: 25px;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  left: 0;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 4;
}
.footer-button{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.footer-button>span{
  color: #929292;
  font-weight: bold;
  font-size: 25px;
}
@media (max-width: 720px) {
  .footer-button>span{
    font-size: 2vh;
  }
}
@media (max-width: 550px) {
  .footer-button>span{
    display: none;
  }
}

