.button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition:  all 0.3s;
    font-weight: bold;
    color: #fff;
    background: #3e6ae1;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    background: #2196F3;
    color: #fff;
}