.review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  left: 0;
  width: 100%;
  margin-bottom: 70px;
  box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  background: #F4F4F4;
}

.lucide {
  color: #929292;
  width: 36px;
  height: 36px;
}
.rating{
  top: 85px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.rating>span{
  color: #929292;
  margin-right: 10px;
}
.textarea{
  resize: none;
  border-radius: 15px;
  outline: none;
  border: none;
  background: #F4F4F4;
  padding-left: 15px;
  padding-top: 15px;
}
.subtext{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 13px;
  color: #929292;
}
.form-row{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  top: 85px;
}
.form-row>span{
  color: #929292;
  font-size: 17px;
}
.button{
  width: 100%;
  height: 42px;
  color: #fff;
  background: #007CB2;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10dvh;
}
.in-err-area{
  resize: none;
  border-radius: 15px;
  outline: none;
  border: 1px solid #F15B42;
  background: #F4F4F4;
  padding-left: 15px;
  padding-top: 15px;
}
