<div *ngIf="onLoaded" class="column">
  <div class="back-image">
    <img ngSrc='assets/images/profile_back.png' width="741" height="503" alt="profile-back-image">
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
       stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
       class="lucide">
    <path
      d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"/>
  </svg>
  <div class="user-info">
    <div class="avatar-border">
      <img ngSrc="assets/images/profile_back.png" priority width="741" height="503" alt="">
    </div>

    <div class="fio">
      {{ profileData.profile.last_name }} {{ profileData.profile.name }}
    </div>
    <div class="hr"></div>
    <div class="row">
      <div class="col">
        <span>{{ profileData.profile.rating }}</span>
        <span>Рейтинг</span>
      </div>
      <div class="col">
        <span>{{ profileData.profile.reviews }}</span>
        <span>Отзывы</span>
      </div>
      <div class="col">
        <span>{{ profileData.adds }}</span>
        <span>Объявлений</span>
      </div>
    </div>
  </div>
  <div class="options">
    <div class="options-row">
      <button class="button" (click)="toReview()"  type="submit">Оставить отзыв</button>
    </div>
  </div>
</div>
<app-footer></app-footer>

