.header {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  left: 0;
  width: 100%;
  margin-bottom: 70px;
  box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  background: #F4F4F4;
}
.header .lucide-chevron-left {
  color: #929292;
  width: 36px;
  height: 36px;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.back-image{
  position: absolute;
  width: 100%;
  z-index: 1;
}
.back-image>img{
  width: 100%;
  height: 35dvh;
}
.user-info{
  min-height: 200px;
  width: 100dvw;
  background: #F15B42;
  top: 150px;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.avatar-border{
  background: #F15B42;
  width: 170px;
  z-index: 3;
  border-radius: 50%;
  height: 170px;
  position: relative;
  top: calc(-170px/2);
  display: flex;
  justify-content: center;
  align-items: center;
  left: -60px;
}
.lucide-message{
  color: #929292;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 118px;
  right: 133px;
  z-index: 5;
}
.avatar-border>img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.fio{
  color: #F4F4F4;
  z-index: 3;
  font-size: 24px;
  position: relative;
  top: -75px;
}
.hr{
  height: 1px;
  width: 100%;
  z-index: 3;
  background-color: #929292;
  margin-top: 10px;
  position: relative;
  top: -75px;
}
.row{
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  top: -37px;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #F4F4F4;
  height: 50px;
}
.col>span:first-child{
  font-size: 24px;
}
.options{
  display: flex;
  flex-direction: column;
  width: 100dvw;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  padding: 10px;
  top: 150px;
  margin-top: 9px;
}
.options-row{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}
.options-row>span{
  color: #F4F4F4;
  font-size: 18px;
}
.lucide-log-out{
  color: #F4F4F4;
  margin-right: 10px;
}
.reviews{
  display: flex;
  flex-direction: column;
  width: 100dvw;
  background: #F15B42;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  padding: 10px;
  top: 150px;
  margin-top: 9px;
}
.reviews:last-child{
  margin-bottom: 234px;
}
.reviews>.row{
  top: 0;
  justify-content: space-between;
}
.avatar-with-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatar-with-name>img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}
.user-data{
  display: flex;
  flex-direction: column;
  color: #F4F4F4;
}
.date{
  display: flex;
  height: inherit;
  position: relative;
  align-items: center;
  color: #F4F4F4;
}
.bel{
  color: #F4F4F4;
}
.button{
  width: 100%;
  height: 42px;
  color: #fff;
  background: #007CB2;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}
