.header{
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  left: 0;
  width: 100%;
  margin-bottom: 70px;
  box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  background: #F4F4F4;
}
.lucide{
  color: #929292;
  width: 36px;
  height: 36px;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 85px;
  height: 65dvh;
}
