product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  left: 0;
  width: 100%;
  margin-bottom: 70px;
  box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  background: #F4F4F4;
}

.lucide {
  color: #929292;
  width: 36px;
  height: 36px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 85px;
  height: 70dvh;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #F4F4F4;
  border-radius: 15px;
  padding: 7px;
  margin-top: 95px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.avatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user {
  color: #607D8B;
}
.rating{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.between{
  justify-content: space-between;
}
.price{
  color: #607D8B;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}
.lucide-heart{
  width: 30px;
  height: 30px;
  color: #F07427;
  z-index: 3;
}
.hr{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #607D8B;
}
.public-date, .views>span, h2, h1, .description{
  color: #607D8B;

}
.views>span{
  font-size: 17px;
}
.views{
  display: flex;
  justify-content: space-between;
}
.lucide-eye{
  width: 22px;
  height: 22px;
  margin-right: 5px;
  top: -1px;
  position: relative;
}
.title{
  color: #607D8B;
  font-size: 19px;
}
.center{
  justify-content: center;
}
.non-margin{
  margin-top: 10px;
}
.button{
  width: 100%;
  height: 42px;
  color: #fff;
  background: #007CB2;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}
