<header class="header">
  <form>
    <input type="text" placeholder='Искать' name='search'/>
    <button type='button'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="lucide lucide-search">
        <path d="m21 21-4.34-4.34"/>
        <circle cx="11" cy="11" r="8"/>
      </svg>
    </button>
  </form>
  <div>
    <button type='button' class='filters'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="lucide lucide-menu">
        <path d="M4 5h16"/>
        <path d="M4 12h16"/>
        <path d="M4 19h16"/>
      </svg>
    </button>
  </div>
</header>
<div class='links'>
  <img ngSrc='dist/telephone-tg-app/browser/assets/images/telephones.png' type='telephones' alt="telephones" class='image-link' height="783"
       width="621"/>
  <img ngSrc='dist/telephone-tg-app/browser/assets/images/access.png' alt="access" type='access' class='image-link' height="788" width="649"/>
  <img ngSrc='dist/telephone-tg-app/browser/assets/images/details.png' alt="details" type='details' class='image-link' height="781" width="527"/>
</div>
<div class='links'>
  <img ngSrc='dist/telephone-tg-app/browser/assets/images/telephones.png' type='telephones' alt="telephones" class='image-link' height="783"
       width="621"/>
  <img ngSrc='dist/telephone-tg-app/browser/assets/images/access.png' alt="access" type='access' class='image-link' height="788" width="649"/>
  <img ngSrc='dist/telephone-tg-app/browser/assets/images/details.png' alt="details" type='details' class='image-link' height="781" width="527"/>
</div>
<app-footer></app-footer>
