.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.username {
  margin-left: auto;
}

form {
  position: relative;
  width: 92%;
}

input, button {
  border: none;
  outline: none;
}

input {
  width: 100%;
  height: 42px;
  background: #F4F4F4;
  padding-left: 15px;
  border-radius: 15px;
}

input::placeholder {
  color: #929292;
  font-weight: bold;
  font-size: 17px;
}

button {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 8px;
  right: 11px;
  background: #F15B42;
  cursor: pointer;
  transform: scale(-1, 1);
}

button.filters {
  top: 20px;
}

.lucide {
  color: #929292;
}

.lucide-search {
  width: 25px;
  height: 25px;
}

.links {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-link {
  width: 30%;
  height: 680px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  cursor: pointer;
}

.products {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item:last-child {
  margin-bottom: 13dvh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}

.model {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.price {
  font-weight: 900;
  font-size: 16px;
}

.city {
  font-size: 16px;
  color: #8F8F8F;
}

.item > img {
  width: 100%;
  height: 680px;
  border-radius: 5%;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 0px 5px 14px 0px rgba(34, 60, 80, 0.5);
  cursor: pointer;
}

@media (max-width: 720px) {
  .item > img {
    height: 20dvh;
  }
}

@media (max-width: 720px) {
  .image-link {
    height: 30dvh;
  }
}
@media (max-width: 600px) {
  .item > img {
    height: 20dvh;
  }
  .image-link {
    height: 20dvh;
  }
}
@media (max-width: 480px) {
  .image-link {
    height: 20dvh;
  }
}
