<div *ngIf="onLoaded">
  <header class="header">
    <form>
      <input type="text" (input)="this.inputSubject.next($event)" value="" placeholder='Искать' name='search'/>
      <button type='button'>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-search">
          <path d="m21 21-4.34-4.34"/>
          <circle cx="11" cy="11" r="8"/>
        </svg>
      </button>
    </form>
    <div>
      <button type='button' (click)="openModal()" class='filters'>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-menu">
          <path d="M4 5h16"/>
          <path d="M4 12h16"/>
          <path d="M4 19h16"/>
        </svg>
      </button>
    </div>
  </header>
  <div class='links'>
    <img ngSrc='assets/images/telephones.png' value="1" (click)="changeCategory(1)" type='telephones' alt="telephones"
         class='image-link' height="783"
         width="621" priority/>
    <img ngSrc='assets/images/access.png' value="2" (click)="changeCategory(2)" alt="access" type='access'
         class='image-link' height="788" width="649" priority/>
    <img ngSrc='assets/images/details.png' value="3" (click)="changeCategory(3)" alt="details" type='details'
         class='image-link' height="781" width="527" priority/>
  </div>
  <app-products [products]=this.products></app-products>
  <app-footer></app-footer>
</div>


