/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}
main{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
