/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@use '@angular/material' as mat;

html {
  @include mat.theme((
  color: mat.$violet-palette,
  typography: (
  plain-family: Roboto,
  brand-family: Open Sans,
  bold-weight: 900,
  medium-weight: 500,
  regular-weight: 300,
  ),
  density: 0,
  ));
}
body{

}
main{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.heart{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
}
.lucide-heart{
  width: 30px;
  height: 30px;
  color: #F07427;
  z-index: 3;
}
